<% if current_user %>
  <%= link_to "Upload Your Photo", new_picture_path %>
<% end %>


<% @pictures.each do |picture| %>
  <%= link_to image_tag(picture.image.url, class: 'media-object'), picture.image.url, target: '_blank' %><br>
  <p>uploaded by <%= picture.user.email %></p>
<% end %>
